img{
 width:50%;
  border-radius: 50%;
}

body{
  background-color: yellow;
}
.wrapper{
  width:100%;
}
h1{
  color: green;
  text-align: center;
  font-size: 35px;
  font-family: monospace;

}
.test-box{
  border: 2px solid red;
  padding: 10px;
  text-align: center;
  background-color: yellow;
  width: 100%;
}
.PORTFOLIO{
  font-style: italic;


}
.hello{
  font-size:35px;
}

h4{
  color: blue;
  font-size: 35px;

}
.H3{
  font-size: 35px;
  color: red;
}
.P3{
  color: black;
  font-size: 35px;
}
.P4{
  color: black;
  font-size: 35px;
  font-family: monospace;
}
.mango{
  color: black;
  font-size: 35px;
  font-family: serif;
}

body h3{
  text-align: center;
body *:not(img){
  width:100%;
}
@media screen and (min-width: 480px) {
    body {
        background-color: yellow;
        color: white;
    }
}
